
@{
    ViewBag.Title = "PortfolyoEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Portfolyo Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız." />
    <br />
    <input type="text" name="Resim" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim2" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim3" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim4" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim5" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim6" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim7" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim8" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim9" class="form-control" placeholder="Resim URL girin." />
    <br />
    <input type="text" name="Resim10" class="form-control" placeholder="Resim URL girin." />
    <br />
    <textarea placeholder="Açıklamanızı giriniz." name="Aciklama" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>
